
/* skill sections extra css */
.imh{
    height: 100px;
}

.skillcard{
    width: 200px;
    height: 150px;
    margin-right: 1rem;
   
   
   }
.skillcard:hover{
    transform: skew(10deg, 5deg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    background-color: cadetblue;
}
.skillbox{
    width: 100%;
   
}

/* slider */
.slider{
    margin: 20px;
}

.slick-list{
    margin: 50px !important;
}

.nextarrow{
    position: absolute !important;
    top: 0 !important;
}