@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
  --lavender-blush: #f5e6e8ff;
  --thistle: #d5c6e0ff;
  --rose-quartz: #aaa1c8ff;
  --mountbatten-pink: #967aa1ff;
  --space-cadet: #192a51ff;
  --error: #D13535;
  --warnin: #ffba08;
  --success: #214e34;
  --info:#19212e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  html,body{
    background-color: var(--space-cadet) !important;
    scroll-behavior: smooth; 
    height: 100%;
    color: white !important;
  }
  

  h4{
    font-size: 2.5rem;
    letter-spacing: .5rem;
  }
  img{
    width: 350px;
    height: 350px;
  }

  .port{
    padding-left: 10px;
    background-image: linear-gradient(to right top, #84ffc9, #56f6e1, #38eaf4, #46dcff, #6accff, #7fc4ff, #9bbaff, #b9afff, #c5acff, #d1a9ff, #dea5ff, #eca0ff);
    background-clip: text;
    color: transparent;
    font-size: 2rem;
  }


.wink{
  font-size: 2.3rem;
  /* color: #F6FA70; */
}

/* it is intro Part */
.intro{
  height: 80vh;
  /* background-color: rgb(66, 37, 9); */
  
}
.intro h6{
  font-size: 1.5rem;
}
.intro h1{
  font-size: 3rem;
  letter-spacing: .5rem;
}

.intro p{
  font-size: 1rem;
}
.intro button{
  width: 15%;
}

/* Help.jsx section */


/* INtro.jsx section */
.name{
  font-size:5rem;
  font-weight:700;
  letter-spacing:.3rem;
  color:#B1AFFF;
}
.title{
  font-weight: 700;
}



/* skill sections extra css */
.imh{
  height: 100px;
}

.skillcard{
  width: 200px;
  height: 150px;
  margin-right: 1rem;
 
 
 }
.skillcard:hover{
  transform: skew(10deg, 5deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  background-color: cadetblue;
}
.skillbox{
  width: 100%;
 
}

/* slider */
.slider{
  margin: 20px;
}

.slick-list{
  margin: 50px !important;
}

.nextarrow{
  position: absolute !important;
  top: 0 !important;
}

/* .slick-slider{
 width: 400px !important;
} */

.navlink::before{
  content: " ";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 0;
  height: 5px;
  background-color:var(--third);
  transition: .5s ease-in-out;
  visibility: none;
}
.navlink:hover::before{
  width: 50%;
  visibility: visible;
  
  
}



.footer{
  width: 100%;
  background-color: var(--mountbatten-pink);
}


.intro{
  color: white !important;
}

.navbar{
  background-color: var(--mountbatten-pink) !important;
  color: #fff !important;
}
/* project part */


.project-link a{
  font-size: .3rem;
  padding: .2rem;
  margin: .5rem;
  border-radius: 50%;
  background-color: #00d0ff;
  
}