@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
  --main: #F8F3EA;
  --secondary: #FFDBD1;
  --third: #0B1957;
  --fourth: #FA9EBC;
  --error: #D13535;
  --warnin: #ffba08;
  --success: #214e34;
  --info:#19212e;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
  body{
    background-color: var(--main);
   
  }
  

  h4{
    font-size: 2.5rem;
    letter-spacing: .5rem;
  }
  img{
    width: 350px;
    height: 350px;
  }

.wink{
  font-size: 2.3rem;
  /* color: #F6FA70; */
}

/* it is intro Part */
.intro{
  height: 80vh;
  /* background-color: rgb(66, 37, 9); */
  
}
.intro h6{
  font-size: 1.5rem;
}
.intro h1{
  font-size: 3rem;
  letter-spacing: .5rem;
}

.intro p{
  font-size: 1rem;
}
.intro button{
  width: 15%;
}

/* Help.jsx section */


/* INtro.jsx section */
.name{
  font-size:5rem;
  font-weight:700;
  letter-spacing:.3rem;
  color:#B1AFFF;
}
.title{
  font-weight: 700;
}



/* skill sections extra css */
.imh{
  height: 100px;
}

.skillcard{
  width: 200px;
  height: 150px;
  margin-right: 1rem;
 
 
 }
.skillcard:hover{
  transform: skew(10deg, 5deg);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  background-color: cadetblue;
}
.skillbox{
  width: 100%;
 
}

/* slider */
.slider{
  margin: 20px;
}

.slick-list{
  margin: 50px !important;
}

.nextarrow{
  position: absolute !important;
  top: 0 !important;
}

/* .slick-slider{
 width: 400px !important;
} */

.navlink::before{
  content: " ";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 0;
  height: 5px;
  background-color:var(--third);
  transition: .5s ease-in-out;
  visibility: none;
}
.navlink:hover::before{
  width: 50%;
  visibility: visible;
}

